//***********************************************
  * login.sass
  * Project: email-auth
  *
  * Author: Denes Solti
  ***********************************************
@use "layout.sass" as *

+layout
  > .content
    margin: auto

    > .input-holder
      position: relative

      &:before, &:after
        position: absolute
        color: crimson
        transform: translateY(100%)
        bottom: -.3rem
        left: 0
        width: max-content
        line-height: 1.4rem

      &[data-error]:before
        content: "\026A0"
        margin-right: var(--space-small)

      &:after
        content: attr(data-error)
        margin-left: 1.5rem

      > input
        padding: var(--space-small)
        outline: none
        border: var(--input-boder)
        border-radius: var(--input-border-radius)
        background: #fff
        will-change: border-color
        transition: border-color .4s

        &:hover, &:focus
          &:not(:disabled)
            border-color: cornflowerblue

  > .button-holder
    display: flex
    box-sizing: border-box
    border-top: 1px solid #1b1f2326
    padding-top: var(--space-small)

    > button
      margin-left: auto
      width: 5rem