//***********************************************
  * status.sass
  * Project: email-auth
  *
  * Author: Denes Solti
  ***********************************************
@use "layout.sass" as *

+layout
  > .content-holder
    margin-top: 1rem
    background-color: #ececec
    padding: var(--space-small)
    border: var(--input-boder)
    border-radius: var(--input-border-radius)
    height: 100%

    > .content
      overflow: auto
      height: 100%